/* 
 * Body, exta
 */

html, body{
    overflow: hidden; /* Hide window scrollbars, as they brake gallery scrolling */
}

body {
    margin: 0px;
    padding: 0px;
}


/*
 * Header box 
 */

div#header{
    width: auto;
    height: 32px;
    margin: 0px 20px;
    padding-top: 28px;
    padding-left: 65px;
}

div#header h1{
    padding: 0px;
    margin: 0px;
}

span#header_brand{
    font-size: 26px;
}


/* 
 * Content box and content during loading box
 */

div#content,
div#content_preloading
{
    width: auto;
    height: 570px;
}

div#content{
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

div#content_preloading{
    position: fixed;
    top: 70px;
    z-index: 20;
    display: none;
}

div#content_scrollframe{
    position: relative;
    overflow: auto;
    width: 100%;
    height: 555px;
}

div#content_scrollable{
    position: relative;
    padding: 4px;
}

span.content_corner_tl,
span.content_corner_tr, 
span.content_corner_bl, 
span.content_corner_br{
    position: absolute;
    width: 13px;
    height: 13px;
    display: block;
    /* margin-bottom: -1px this is for IE */
    background-repeat: no-repeat;
}

span.content_corner_tl{
    top: 0px;
    left: 0px;
    background-image: url(../images/content-corner-tl.gif);
}

span.content_corner_tr{
    top: 0px;
    right: 0px;
    background-image: url(../images/content-corner-tr.gif);
}

span.content_corner_bl{
    bottom: 0px;
    left: 0px;
    background-image: url(../images/content-corner-bl.gif); 
}

span.content_corner_br{
    bottom: 0px;
    right: 0px;
    background-image: url(../images/content-corner-br.gif); 
}


/* top info bar */

#topbar{
    width: 100%;
    height: 15px;
}

#userinfo{
    position: absolute;
    right: 5px;
}

/* Topic page */

#topic_header{
    height: 40px;
    padding: 5px 25px 5px 25px;
}

#topic_header h2{
    margin-top: 10px;
}

#close_button{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 11px;
}

#topic_viewport{
    height: 460px;
    margin: 0px 25px 25px 25px;
    overflow: auto;
}

/* Page elements */

div.page_actions {
    margin-left: 1em;
    margin-right: 1em; 
}


/*
 * Recort fields styles (Show, Edit, New views)
 */

div.record_fields{
    margin-left: 1em;
}

div.record_fields p{
    margin-left: 2em;
    text-indent: -2em;    
}

div.record_fields .attachment_selector{
    margin-left: 2em;
}


/*
 * Listing table, used in record indexes views
 */

table.listing{
    margin-left: 1em;
}

table.listing tbody tr:first-child td{
    border-top: 1px solid #4f4f4f;
}

table.listing td{
    padding: 1px 0.5em;
}


table.listing td.actions{
    border-left: 1px solid #4f4f4f;
    padding-left: 1em;
    text-align: right;
}


/*
 * Context menu styles
 */ 

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 11em;
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #676767;
    border-right: 1px solid #676767;
}

.menu ul, .menu .li{
    padding: 0px;
    margin: 2px;
    list-style: none
}

.menu a {
    display: block;
    color: #00c;
    text-decoration: none;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
}
.menu a:hover {
    background: #D3E3FE;
}
.menu a.disabled {
    color: #bbb;
}
.menu a.disabled:hover {
    background: #fff;
    color: #bbb;
}
.menu .separator {
    height: 1px;
    padding: 0;
    overflow: hidden;
    display: block;
    background: #ccc;
}


/*
 * Photo layout screen styles
 */

table#all_galleries_table td{
    height: 136px;
}

table#all_galleries_table th{
    width: 40px;
}

table.photos_list_table, td.empty_box{
    border: 3px solid #000000;
}

table.photos_list_table.hover, td.empty_box.hover{
    border-color: #7f0000;
}

td.empty_box{
    height: 124px;
}

table.photos_list_table td{
    padding: 0px 1px 0px 1px;
}

div.item_box{
    position: relative;
}

div.item_droppable_left, div.item_droppable_right{
    position: absolute;
    width: 34px;
    height: 130px;
    top: 0px;
    z-index: 1;
    opacity: 0.3;
}
    
div.item_droppable_left{
    left: -17px;
}

div.item_droppable_left.hover,
div.item_droppable_right.hover{
    background-color: #ff0000;
}

div.item_droppable_right{
    right: -17px;
}

img.draggable_photo{
    height: 130px;
}
    
div.separator{
    height: 130px;
    width: 40px;
}

a.separator_close_button{
    color: #1f1f1f;
    position: absolute;
    right: 5px;
    z-index: 2;
}


/* Attachment selection style */

.attachment_label_with_icon {
    height: 32px;
    line-height: 32px;
}

.attachment_label_with_icon img{
    float: left;
    margin-right: 0.5em;
}

.attachment_selector {
    position: relative;
    width: 320px;
    height: 32px;
    padding: 1px;
    line-height: 32px;
    border: solid 1px #333;
}

.attachment_selector .action{
    display: block;
    position: absolute;
    right: 0px;
    height: 32px;
    width: 80px;
    text-align: center;
    border-left: dotted 1px #333;
}


/* FOOTER */

div#footer{
    width: auto;
    margin: 0px auto;
    padding-right: 15px;
    text-align: right;
}

div#footer p{
    font-size: 7pt;
}
