<p>
  <b>Name:</b>
  <%=h @photo_keyword.name %>
</p>


<%= link_to 'Edit', edit_admin_site_photo_keyword_path(@site, @photo, @photo_keyword) %> |
<%= link_to 'Back', admin_site_photo_keywords_path %>
