/* Fix gallery switches layout */

div.gallery_switch {
    width: 10px;
}


/* Fix gallery scroller transparency */

#gallery_scrollbar_left {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/scrollbar-left.png);
}
    
#gallery_scrollbar_space {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/scrollbar-space.png, sizingMethod='scale');
}

#gallery_scrollbar_right {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/scrollbar-right.png);
}

#gallery_scroller_left {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/scroller-left.png);
}

#gallery_scroller_space {
    /*background-image: none;*/
    /*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/scroller-space.png, sizingMethod='scale');*/
}

#gallery_scroller_right {
    background-image: none;
    top: -26px;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/scroller-right.png);
}


/* Fix transparency in controlls and site menu */

#gallery_controls, #site_menu {
    filter: alpha(opacity=70);
}

#gallery_play_button {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/button-play.png);
}

.playing#gallery_play_button {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../images/button-pause.png);
}

span.content_corner_bl,
span.content_corner_br{
    bottom: -4px;
}
