<div id="galleries">
  <div id="galleries_body">
    <% for gallery in @site.galleries_in_order -%>
      <a href="<%= show_site_gallery_path @site, gallery -%>" 
	 title="<%= gallery.title -%>" 
	 class="gallery_banner">
	<% banner = gallery.get_attachment('banner') -%>
	<% if banner -%>
	  <%= asset_image_tag banner, :size => '800x150' -%>
	<% else -%>
	  <%= gallery.title -%>
	<% end -%>
      </a>
    <% end -%>
  </div>
  <div id="galleries_scroll_button_up"></div>
  <div id="galleries_scroll_button_down"></div>
</div>

