<% @page_title = 'Welcome' -%>

<div id="welcome_photo">
  <%= image_tag 'welcome_photo.jpg' -%>
</div>
<div id="welcome_label">
  <h2><%= image_tag 'welcome_label.png', :alt => 'Welcome' -%></h2>
</div>
