/* Admin panel layout customization - make use full screen width*/

div#header,
div#content,
div#footer
{
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}
    
div#content{
    overflow: visible;
}

div#admin_frame{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#admin_content{
    position: relative;
    padding: 4px;
}


/*
 * Common styles used in admin pages
 */

hr {
    margin-top: 20px;
}

label{
    font-weight: bold;
}

p.notice{
    color: #7f0000;
}

div.page_actions{
    margin-left: 1em;
    margin-right: 1em;
}

/*
 * Recort fields styles (Show, Edit, New views)
 */

div.record_fields{
    margin-left: 1em;
}

div.record_fields p{
    margin-left: 2em;
    text-indent: -2em;    
}


/*
 * Listing table, used in record indexes views
 */

table.listing{
    margin-left: 1em;
}

table.listing tbody tr:first-child td{
    border-top: 1px solid #4f4f4f;
}

table.listing td{
    padding: 1px 0.5em;
}


table.listing td.actions{
    border-left: 1px solid #4f4f4f;
    padding-left: 1em;
    text-align: right;
}


/*
 * Context menu styles
 */ 

.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 11em;
    background: #fff;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #676767;
    border-right: 1px solid #676767;
}

.menu ul, .menu .li{
    padding: 0px;
    margin: 2px;
    list-style: none
}

.menu a {
    display: block;
    color: #00c;
    text-decoration: none;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 12px;
}
.menu a:hover {
    background: #D3E3FE;
}
.menu a.disabled {
    color: #bbb;
}
.menu a.disabled:hover {
    background: #fff;
    color: #bbb;
}
.menu .separator {
    height: 1px;
    padding: 0;
    overflow: hidden;
    display: block;
    background: #ccc;
}


/*
 * Photo layout screen styles
 */

table#all_galleries_table td{
    height: 136px;
}

table#all_galleries_table th{
    width: 40px;
}

table.photos_list_table, td.empty_box{
    border: 3px solid #000000;
}

table.photos_list_table.hover, td.empty_box.hover{
    border-color: #7f0000;
}

td.empty_box{
    height: 124px;
}

table.photos_list_table td{
    padding: 0px 1px 0px 1px;
}

div.item_box{
    position: relative;
}

div.item_droppable_left, div.item_droppable_right{
    position: absolute;
    width: 16px;
    height: 130px;
    top: 0px;
    z-index: 1;
    opacity: 0.5;
}
    
div.item_droppable_left{
    left: -3px;
}

div.item_droppable_left.hover{
    border-left: 4px solid #ff0000;
}

div.item_droppable_right{
    right: -3px;
}

div.item_droppable_right.hover{
    border-right: 4px solid #ff0000;
}

img.draggable_photo{
    height: 130px;
}
    
div.separator{
    height: 130px;
    width: 40px;
}

a.separator_close_button{
    color: #1f1f1f;
    position: absolute;
    right: 5px;
    z-index: 2;
}