/* 
 * Body
 */

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


/*
 * Header box 
 */

div#header{
    width: 930px;
    height: 30px;
    margin: 0px auto;
    padding-top: 30px;
    padding-left: 65px;
}

div#header h1{
    padding: 0px;
    margin: 0px;
}

span#header_brand{
    font-size: 26px;
    line-height: 32px;
}

/* 
 * Content box and content during loading box
 */

div#content,
div#content_preloading
{
    width: 930px;
    height: 550px;
    background-image: url(../images/content-corner-tl.gif);
    background-repeat: no-repeat;
}

div#content{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

div#content_preloading{
    position: fixed;
    top: 70px;
    z-index: 20;
    display: none;
}

span.content_corner_tr, span.content_corner_bl, span.content_corner_br{
    position: absolute;
    width: 13px;
    height: 13px;
    display: block;
    /* margin-bottom: -1px this is for IE */
    background-repeat: no-repeat;
}

span.content_corner_tr{
    top: 0px;
    right: 0px;
    background-image: url(../images/content-corner-tr.gif);
}

span.content_corner_bl{
    bottom: 0px;
    left: 0px;
    background-image: url(../images/content-corner-bl.gif); 
}

span.content_corner_br{
    bottom: 0px;
    right: 0px;
    background-image: url(../images/content-corner-br.gif); 
}


/* 
 * Gallery
 */

/* Gallery switches */

#gallery_switches {
    display: block;
    margin: 17px 25px 17px 25px;
    width: 880px;
    height: 16px;
    font-size: 14px;
}

#gallery_switches .sIFR-alternate{
    display:none;
}

.gallery_switch,
.gallery_switches_label
{
    display: block;
    float: left;
    height: 20px;
}

.gallery_switches_label {
    padding-right: 10px;
}

.gallery_switch{
    position: relative; 
    padding-left: 10px;
    padding-right: 10px;
}


/* Gallery photos */

#gallery_photos_viewport{
    position: relative;
    overflow: auto;  /* Scrollbar is being disabled in js, because we use custom one */
    width: 926px;
    height: 500px;
    margin-left: 2px;
    margin-right: 2px;
}

#gallery_photos{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10000px; /*This should be overwritten to correct value on item style attribute */
    padding: 0px;
    margin: 0px;
}

#gallery_photos .gallery_photo,
#gallery_photos .gallery_separator
{
    float: left;
    margin: 0px 2px 0px 2px;
}

#gallery_photos .gallery_separator{
    float: left;
    width: 100px;
}

#gallery_photos img{
    height: 400px;
}



/* Gallery scrollbar */

#gallery_scrollbar {
    position: absolute;
    left: 150px;
    bottom: 40px;
    height: 12px;
    width: auto;
    z-index: 10;
}

#gallery_scrollbar_left {
    width: 19px;
    height: 12px;
    background-image: url(../images/scrollbar-left.png); 
    cursor: pointer;
}

#gallery_scrollbar_space {
    position: absolute;
    left: 19px;
    top: 0px;
    width: 588px;
    height: 12px;
    background-image: url(../images/scrollbar-space.png);
    background-repeat: repeat-x;
}

#gallery_scrollbar_right {
    position: absolute;
    left: 607px;
    top: 0px;
    width: 19px;
    height: 12px;
    background-image: url(../images/scrollbar-right.png);
    cursor: pointer;
}

#gallery_scroller {
    position: absolute;
    top: 1px;
    left: -4px;
    height: 10px;
    width: auto;
    cursor: move;
}

#gallery_scroller_left {
    width: 14px;
    height: 10px;
    background-image: url(../images/scroller-left.png);
}

#gallery_scroller_space {
    position: absolute;
    top: 0px;
    left: 14px;
    width: 35px;
    height: 10px;
    background-image: url(../images/scroller-space.png);
    background-repeat: repeat-x;
}

#gallery_scroller_right {
    position: absolute;
    top: 0px;
    left: 49px;
    width: 14px;
    height: 10px;
    background-image: url(../images/scroller-right.png);
}


/* Gallery controlls */

#gallery_controls {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 50px;
    height: 20px;
    z-index: 100;
    opacity: 0.7;
}

#gallery_play_button {
    width: 14px;
    height: 14px;
    margin-top: 3px;
    margin-left: 32px;
    background-image: url(../images/button-play.png);
    cursor: pointer;
}

.playing#gallery_play_button {
    background-image: url(../images/button-pause.png);
}


/* Site menu */

#site_menu {
    display: block;
    position: absolute;
    bottom: 20px;
    right: 0px;
    width: 70px;
    font-size: 11px;
    z-index: 100;
    opacity: 0.7;
    list-style: none;
    background-color: #5f0000;
}

.site_menu_topic {
    padding: 4px 5px 0px 5px;
    height: 16px;
    width: 70px;
}

.site_menu_topic a{
    margin-top: 2px;
}


/* Topic page */

#topic_header{
    width: 900px;
    height: 45px;
    margin: 5px 15px 5px 15px;
}

#close_button{
    position: relative;
    left: 885px;
    top: 5px;
    width: 14px;
    height: 11px;
}

#topic_content{
    height: 515px;
    margin: 0px 15px 0px 15px;
}


/* Photo page */

#photo_box{
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#photo_description_box{
    position: relative;
    left: 319px; 
    width: 260px;
    height: 76px;
    margin-top: 10px;
    font-size: 11px;
}

#photo_description_box table{
    width: 100%;
    margin-top: 5px;
}

#photo_description_box td{
    padding: 0px 5px 0px 5px;
}

#photo_description_box td.col1{
    text-align: right;
}


/* FOOTER */

div#footer{
    width: 930px;
    margin: 0px auto;
    padding-right: 15px;
    text-align: right;
}

div#footer p{
    font-size: 7pt;
}
