<% @content_for_layout = capture do -%>

  <div id="admin_frame">
    <div id="admin_content">

      <p class="notice"><%= flash[:notice] %></p>
      
      <%= yield  %>

    </div>
  </div>

<% end -%>

<%= render(:file => 'layouts/polinostudio', 
           :locals => {'content_for_layout' => @content_for_layout }) -%>
