<% @content_for_layout = capture do -%>

  <div id="admin_frame">
    <div id="admin_content">

      <p><%= flash[:notice] %></p>
      <%= yield  %>

    </div>
  </div>

<% end -%>

<%= render 'layouts/application', {'content_for_layout' => @content_for_layout } -%>
