<div id="gallery">

  <ul id="site_menu">
    <% for topic in @menu_items -%>
      <li class="site_menu_topic">
	<%= link_to topic.title, show_site_topic_path( @site, topic ) -%>
      </li>
    <% end -%>
  </ul>

  <p id="gallery_switches">
    <span class="typeface-js gallery_switches_label">Gallery:</span>
    <% for gallery in @galleries -%>
      <%= link_to gallery.name, 
	  show_site_gallery_path(@site, gallery),
	  { :class => "typeface-js gallery_switch" + ( gallery.id == @gallery.id ? ' active' : '' ), 
	    :title => gallery.title } 
	  %>
    <% end -%>
  </p>
  
  <div id="gallery_photos_viewport">
    <p id="gallery_photos" style="width: <%= total_gallery_items_width(@gallery) -%>px;">
      <% for item in @gallery.gallery_items -%>
	<% if item.is_a? GalleryPhoto -%>
	  <span class="gallery_photo">
	    <%= link_to( image_tag( compute_photo_path(item.photo), 
				    :alt => item.photo.alt_text, 
				    :height => "400",
				    :width => (item.photo.width.to_f / item.photo.height * 400).to_i ),  
			 show_site_photo_path( @site, item.photo ),
			 { :title => item.photo.alt_text })
		-%>
	  </span>
	<% elsif item.is_a? GallerySeparator -%>
	  <span class="gallery_separator">&nbsp;</span>
	<% end -%>
      <% end -%>
    </p>
  </div>

  <div id="gallery_scrollbar">
    <div id="gallery_scrollbar_left"></div>
    <div id="gallery_scrollbar_space">
      <div id="gallery_scroller">
	<div id="gallery_scroller_left"></div>
	<div id="gallery_scroller_space"></div>
	<div id="gallery_scroller_right"></div>
      </div>
    </div>
    <div id="gallery_scrollbar_right"></div>
  </div>

  <div id="gallery_controls">
    <div id="gallery_play_button"></div>
  </div>
  
</div>
