<div id="gallery">
  <div id="gallery_viewport">
    <% photos_width = 0; @gallery.photos.each{|p| photos_width += p.image_width} -%>
    <% @gallery.gallery_items.each{|i| photos_width += 5 if i.type == 'GallerySeparator'} -%>
    <div id="gallery_body" style="width: <%= photos_width -%>px">
      <% for item in @gallery.gallery_items -%>
	<% if item.type == 'GalleryPhoto' -%>
	  <%= photo_image_tag item.photo, 
	      :class => 'photo', :title => item.photo.image_alt -%>
	<% elsif item.type == 'GallerySeparator' -%>
	  <div class="separator"></div>
	<% end -%>
      <% end -%>
    </div>  
  </div>
  <div id="gallery_scroll_button_left"></div>
  <div id="gallery_scroll_button_right"></div>
</div>

<% @page_controlls = render(:partial => 'site/pitchouguina/gallery/gallery_controlls') -%>
