<div id="topic">

  <div id="topic_header">
    <h2><%=h @topic.title -%></h2>
    <div id="close_button">
      <%= link_to( image_tag( 'x.png', :size => '14x11', :alt => '[X]' ), 
		   back_reference(@site),
		   :title => 'back')
	  -%>
    </div>
  </div>

  <div id="topic_viewport" class="topic_body">
    <%= @topic.body -%>
  </div>
  
</div>
