<div id="home">
  
  <ul class="siteslist">
    <% for child_data in [{
			    :obj => Site.find_by_name('polinocollection'),
			    :label => 'Collection',
			    :title => 'Polino Studio Collection',
			    :description => '',
			    :preview_gallery => Site.find_by_name('polinocollection').galleries.find_by_name('site_preview')
 			  }, {
			    :obj => Site.find_by_name('polinobeauty'),
			    :label => 'Beauty',
			    :title => 'Polino Studio Beauty',
			    :description => '',
			    :preview_gallery => Site.find_by_name('polinobeauty').galleries.find_by_name('site_preview')
			  }, {
			    :obj => Site.find_by_name('polinofashion'),
			    :label => 'Fashion',
			    :title => 'Polino Studio Fashion',
			    :description => '',
			    :preview_gallery => Site.find_by_name('polinofashion').galleries.find_by_name('site_preview')
			  }] -%>
      <% child = child_data[:obj] -%>
      <li>
	<% link_to show_site_url(child) ,:title => child_data[:title]  do -%>
	  <h3>
	    <%=h child_data[:label] -%>
	  </h3>
	  <div class="preview">
	    <% for photo in child_data[:preview_gallery].photos -%>
	      <%= photo_image_tag photo, :size => 'x120' -%>
	    <% end -%>
	  </div>
	<% end -%>
      </li>
    <% end -%>
  </ul>

  <%= render 'site/polinogroup/common/partials/topics_menu' -%>

</div>
