<% @page_title = 'Welcome' -%>

<div id="welcome_photo">
  <%= photo_image_tag @site.get_attachment('welcome_photo') -%>
</div>

<div id="welcome_label">
  <h2><%= image_tag 'welcome_label.png', :alt => 'Welcome' -%></h2>
</div>
