<% if @site.unassigned_photos.size == 0  -%>
  <td class="empty_box">
    Please drag photos here, to remove from gallery..
  </td>
<% else -%>
  <% for photo in @site.unassigned_photos -%>
    <td>
      <%= photo_image_tag photo,
	  :size => 'x130',
	  :id => "photo_unassigned_#{photo.id}",
	  :class => 'unassigned_photo draggable_photo'-%>
      <%= draggable_element "photo_unassigned_#{photo.id}", 
	  :revert => draggable_revert_js,
	  :scroll => "'content_scrollframe'" 
          -%>
    </td>
  <% end -%>
<% end -%>
