<h3>Layout photos on <%= @site.name -%> site</h3>

<%= link_to 'Manage photos', admin_site_photos_path(@site) %> |
<%= link_to 'Manage galleries', admin_site_galleries_path(@site) %> |
<%= link_to 'Back', admin_sites_path %>
